body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000080; /* Bleu foncé */
}

.container {
    position: relative;
}

.image-centrale {
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.fa-play {
    font-size: 50px;
}

/* Personnalisez les styles des boutons et des icônes de réseaux sociaux ici */